.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $container-padding-y $container-padding-x;
  background-color: #ffffff88;

  nav {
    @extend .menu;

    li {
      @include btn-variant(white, black);
    }
  }
}
