body,
html {
  margin: 0;
  padding: 0;
}

html {
  background: url("https://b1-q.mafengwo.net/s9/M00/D6/48/wKgBs1fHmDOAFuPuABgy_gdW4GA40.jpeg")
    no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-base;
  line-height: $line-height-base;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}
